.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

/kmeans_preprocessing/data_anonymized

.idea/

# Build artifacts / debug output / cache
dist-detection.zip
output_debug.txt
pylint-report.txt
src/public/cache/
