services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: dougfarias/detection-service:latest
    container_name: detection-service
    ports:
      - '8000:8000'
    networks:
      - tcc-cola-network
    environment:
      - FLASK_APP=src:app
      - FLASK_ENV=production

networks:
  tcc-cola-network:
    external: true
