services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: dougfarias/detection-service:dev
    container_name: detection-service
    ports:
      - '8000:8000'
    volumes:
      - .:/src
    networks:
      - tcc-cola-network
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
    restart: always


networks:
  tcc-cola-network:
    external: true
